<div class="container" ng-controller="UsersPageCtrl">
    <div class='col'>

        <div class="col">
            <div class="row">
                <h4>Users List</h4>
                <button ng-click="usersPage.add()">Add</button>
            </div>
            <div class="col-5">
                <div class="list-group" ng-repeat="user in usersPage.users">
                    <div class="list-group-item d-flex justify-content-between" ng-click="usersPage.select(user)">
                        {{user.username}}
                    </div>
                    <button type="button" class="close" aria-label="Close" ng-click="usersPage.delete(user)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <h4>Selected user details</h4>
            <dl>
                <dt>{{usersPage.selectedUser.id}}</dt>
                <dd>{{usersPage.selectedUser.username}}</dd>
            </dl>
        </div>
    </div>

    <hr />
    <form ng-if="usersPage.mode === 'editUser'">
        <!-- .form-group>label{Name}+input.form-control -->

        <div class="form-group mb-3">
            <label for="task_name">Username</label>
            <input id="task_name" type="text" class="form-control" ng-model="usersPage.userTmp.username" />
        </div>

        <button class="btn btn-info" ng-click="usersPage.save(usersPage.userTmp)">
            Save
        </button>
        <!-- <button class="btn btn-info" ng-click="addTask()"ng-show="mode === 'add'"ng-hide="mode === 'hide'||mode ==='edit'">Save</button> -->
    </form>
    <div ng-if="usersPage.mode === 'addUser'">
        <!-- .form-group>label{Name}+input.form-control -->

        <div class="form-group mb-3">
            <label for="task_name">Username</label>
            <input id="task_name" type="text" class="form-control" ng-model="usersPage.newUser.username" />
        </div>

        <button class="btn btn-info" ng-click="usersPage.addNewUser(usersPage.newUser)" type="button">
            Add
        </button>
        <!-- <button class="btn btn-info" ng-click="addTask()"ng-show="mode === 'add'"ng-hide="mode === 'hide'||mode ==='edit'">Save</button> -->
    </div>
</div>