<div class="container" ng-controller="UsersPageCtrl">
  <div class="row">
    <div class="col-5">
      <h4>Users List</h4>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="user in usersPage.users track by user.id"
          ng-click="usersPage.select(user.id)" ng-class="{'active':user.id == usersPage.selected.id}">
          {{$index+1}}. {{user.username}}</div>
      </div>
    </div>
    <div class="col-5" ng-if="usersPage.selected && usersPage.mode == 'details'">
      <h4>User details</h4>
      <dl>
        <dt>Nazwa</dt>
        <dd>{{usersPage.selected.username}}</dd>
      </dl>
      <button ng-click="usersPage.edit()">Edit</button>
      <!-- <ng-include src="'user-details.tpl.html'"></ng-include> -->
    </div>
    <div class="col-5" ng-if="usersPage.selected && usersPage.mode == 'edit'">
      <h4>Edit user </h4>
      <div class="form group">
        <label for="">
          <input type="text" class="form-control" ng-model="usersPage.draft.username">
        </label>
      </div>
      <button class="btn btn-success" ng-click="usersPage.save(usersPage.draft)">Save</button>
    </div>
  </div>
</div>

<!-- 
<script type="text/ng-template" id="user-details.tpl.html">
  <h4>User details</h4>
  <dl>
    <dt>Nazwa</dt>
    <dd>{{usersPage.selected.username}}</dd>
  </dl>
  <button ng-click="usersPage.edit()">Edit</button>
</script> -->